.button {
  border: unset;
  border: unset;
  min-height: 42px;
  font-size: 16px;
  border-radius: 8px;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 500;
}

.button:hover {
  opacity: 0.8;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-color);
  color: white;
}
