.chip {
  border-radius: 16px;
  padding: 4px 12px;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-color);
  color: white;
}
