:root {
  --main-bg-color: #333738;
  --primary-color: #B18742;
  --secondary-color: #635B6C;
  --font-color: #B4B5BE;
}

body {
  background-color: var(--main-bg-color);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
